:root{
    --gris-botones: rgb(177, 175, 175);
    --Negro-principal: #121212;
    --Blanco-principal:#f2f2f2;
}

*{font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 4rem 4rem 0rem;
}
.Upper-Tittle{
    font-size: 1.5rem;
}
.ProductosComprar{
   display: flex;
   flex-direction: column;
   gap:2rem;
}
.Producto{
    display: grid;
    grid-template-columns: .5fr 1fr;
    box-shadow: rgb(229 229 229) 0px 0px 0px 0px inset,
    rgb(229 229 229) 0px 0px 0px 0px inset,
     rgb(229 229 229) 0px -5px 0px 0px inset,
      rgb(229 229 229) 0px 0px 0px 0px inset;
}
.producto-options{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.details{
    display: flex;
    justify-content: space-between;
}
.especificaciones{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.imagenX{
    max-height: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}
.Product-title{
    font-weight: bolder;
}
.Product-price{
    font-weight: bolder;
}
.descripcion{
    max-width: 18rem;
}

.Cantidad-div{
    display: flex;
    flex-direction: row;
    gap:.5rem
}
.cantidad{
    width: 5rem;
    background-color:  var(--Blanco-principal);;
    border: none;
    cursor: pointer;
}
.cantidad:hover{
    border-color:  var(--Negro-principal);
}

.compra{
    display: flex;
    flex-direction:column;
    gap: 1.5rem;
    margin-left: 1rem;
}
.comprar{
    color: var(--Blanco-principal);
    height: 3rem;
    border-radius: 1.3rem;
    background-color:  var(--Negro-principal);
}
.acciones{
    margin-bottom: 1rem;
}
.comprar:hover{
    background-color: var(--Blanco-principal);
    color: var(--Negro-principal);
}

.resumen{
    display: flex;
    flex-direction: column;
    gap:1rem
}
.prices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgb(229 229 229) 0px 0px 0px 0px inset,
    rgb(229 229 229) 0px 0px 0px 0px inset,
     rgb(229 229 229) 0px -1px 0px 0px inset,
      rgb(229 229 229) 0px 0px 0px 0px inset;
    padding-bottom: 1rem;
}
.Total{
    font-weight: bolder;
}
.Comprar-btn{
    height: 3rem;
    border-radius: 2rem;
    background-color: var(--Negro-principal);
    color: var(--Blanco-principal);
    border: none;
}
.Comprar-btn:hover{
    background-color: #414040;
}
.accion-icons{
    border: none;
    background-color: var(--Blanco-principal);
    cursor: pointer;
}
.accion-icons:hover .icon-btn{

  font-variation-settings:
  'FILL' 3,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

}