<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" Contenido-Productos="IE=edge">
    <meta name="viewport" Contenido-Productos="width=device-width, initial-scale=1.0">
    <!--Estilos-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesDesktop.css'%} ">
     <link rel="stylesheet" type="text/css" href="{% static 'css/carrito.css'%}">
    <!--ICONOS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,-25" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>{% block title %}Sd Proveedor de Barberias{% endblock %}</title>
</head>

<body>
    <div class="Mobile-Menu-Slide" id="Mobile-Menu-Slide">
        <button class="Productos-Menu BTN-Cerrar" id="BTN-Cerrar">Cerrar</button>
        <button type="button" class="Productos-Menu " >Wahl</button>
        <button type="button" class="Productos-Menu" >BabyLissss</button>
        <button type="button" class="Productos-Menu" >Andis</button>
        <button type="button" class="Productos-Menu" >Kemei</button>
        <button type="button" class="Productos-Menu" >Old Skull</button>
        <button type="button" class="Productos-Menu" >Insumos</button>
    </div>

    <nav class="Barra-Desktop">
        <a class="Logo-link" href="./"><button class="Logo">SD Proveedor Barberias</button></a>
        <div class="Productos-y-Busqueda">
        <div class="Lista-Productos" id="Lista-Productos">
                <div class="Wahl-C Contenido-Productos">
                    <button type="button" class="Productos" id="Wahl">Wahl</button>
                    <div class="dropdown  drop-wahl">
                        <button>Trimer</button>
                        <button>Clipper</button>
                        <button>Shaver</button>
                        <button>Combos</button>
                    </div>
                </div>
                <div class="Baby-C Contenido-Productos">
                    <button type="button" class="Productos" id="Babyliss">BabyLiss</button>
                    <div class="dropdown  drop-baby">
                        <button>Trimer</button>
                        <button>Clipper</button>
                        <button>Shaver</button>
                        <button>Combos</button>
                    </div>
                </div>
                <div class="Andis-C Contenido-Productos">
                    <button type="button" class="Productos" id="Andis">Andis</button>
                    <div class="dropdown  drop-andis">
                        <button>Trimer</button>
                        <button>Clipper</button>
                        <button>Shaver</button>
                        <button>Combos</button>
                    </div>
                </div>
                <div class="Kemei-C Contenido-Productos">
                    <button type="button" class="Productos" id="Kemei">Kemei</button>
                    <div class="dropdown  drop-kemei">
                        <button>Trimer</button>
                        <button>Clipper</button>
                        <button>Shaver</button>
                        <button>Combos</button>
                    </div>
                </div>
                <div class="Skull-C Contenido-Productos">
                    <button type="button" class="Productos" id="OldSkull">Old Skull</button>
                    <div class="dropdown  drop-skull">
                        <button>Trimer</button>
                        <button>Clipper</button>
                        <button>Shaver</button>
                        <button>Combos</button>
                    </div>
                </div>
                <div class="Insumos-C Contenido-Productos">
                    <button type="button" class="Productos" id="Insumos">Insumos</button>
                </div>
            </div>
        <div class="Contenedor-Busqueda" id="Contenedor-Busqueda">
                <button class="Lupa-Desktop Botones-Desktop" id="Lupa-Desktop">
                    <i class="material-icons " style="font-size:25px;">search</i>
                </button>
                <input class="Input-Busqueda" placeholder="Buscar" type="search" id="Input-Busqueda" />

            </div>
        </div>
            <div class="Botones-Fav-Car">
                <button class="Boton-Cancelar " id="Boton-Cancelar">Cancelar</button>
                <button class="Botones-Desktop" id="Carrito" ><a class="Mall-Link" href="./2"><i
                        class="material-symbols-outlined " >local_mall</i></a></button>
                <button class="Botones-Desktop Favoritos-Desktop" id="Favoritos-Desktop"><i class="material-icons "
                        style="font-size:25px;">favorites</i></button>
                <button class="Botones-Desktop Menu-Desktop" id="Menu-Desktop"><i class="material-icons "
                            style="font-size:25px;">menu</i></button>
            </div>

    </nav>
    {% block Contenido %}

    {% endblock %}
    <script src="{% static 'js/Nav-Bar.js'%}"></script>

</body>

</html>