{% extends 'Base.html' %}
{% block estilo %}<link rel="stylesheet" type="text/css" href="/static/css/Producto-Detail.css">{% endblock %}
{% block title %}Home{% endblock %}

{% block Contenido%}
    <section class="Producto-Detail-content">
        <div class="Display-Details">
            <img src={{producto.image_url}} class="IMGDetail">
            <img src={{producto.image_url}} class="IMGDetail">
            <img src={{producto.image_url}} class="IMGDetail">
            <img src={{producto.image_url}} class="IMGDetail">
        </div>
        <div class="Buy-Producto-Detail">
            <label class="Nombre-Producto-Detail">{{producto.nombre}}</label>
            <p class="Price-Producto-Detail">${{producto.precio}}</p>
            <p class="Descipcion">{{producto.descripcion}}</p>
            <label class="Cantidad">Cantidad </label>
             <select class="Cantidad-Producto">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <button class="Detail-Agregar-Carrito">Agregar al Carrito</button>
            <button class="Detail-Favoritos">Favoritos</button>
            <label class="Envio">Envios</label>
            <p class="Detalle-Envios">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ab non magnam aut, quia quis suscipit sint qui cupiditate
                amet modi saepe id velit ullam enim veniam, repellat obcaecati
                commodi molestias!</p>
        </div>
    </section>
    <!--SCRIPTS-->
    <script src="/static/js/Producto-Detail.js"></script>

{% endblock %}